<section class="middle-section">
  <h4>Jobs By Interest</h4>
  <% @count_by_level_of_interest.each do |loi, count| %>
  <p><%= loi %> has <%= count %> Jobs</p>
  <% end %>

  <h4>Jobs By Location</h4>
  <% @count_by_location.each do |city, count| %>
  <p><%= link_to city, jobs_path(location: city) %> Jobs   <%= count %> Jobs </p>
  <% end %>

  <h4>Top Companies by Interest</h4>
  <% @top_three_by_average_level_of_interest.each do |company| %>
  <p><%= company.name %>  has an average  <%= company.avg_level_of_interest %> rating </p>
  <% end %>
</section>
