Title: <%= @job.title %>
<br>
<p><%= link_to "Delete", job_path(@job), method: :delete %></p>
<p><%= link_to "Edit", edit_job_path(@job)%></p>


Description: <%= @job.description %>
<br>

Level of Interest: <%= @job.level_of_interest %>
<br>

City: <%= @job.city %>
<br>

Company: <%= link_to @job.company.name, company_path(@job.company) %>

Notes: <%= render partial: "comment-form" %>


<% @comments.each do |comment| %>
  <ul>
    <p><%= comment.body %><p>
    <li>Created at: <%= comment.created_at.in_time_zone("Mountain Time (US & Canada)").strftime('%m-%d-%Y %I:%M:%S') %></li>
    <li>Updated at: <%= comment.updated_at.in_time_zone("Mountain Time (US & Canada)").strftime('%m-%d-%Y %I:%M:%S') %></li>
  </ul>
<% end %>
