<section class="middle-section">

<h3>All Jobs for <strong><%= @company.name %></strong></h3>

<% @company.jobs.each do |job| %>
  <p><%= link_to job.title, job_path(job) %></p>
<% end %>

<h4>Create New Contact for <%= @company.name %></h4>
<%= form_for [@company, @contact] do |f| %>
<%= f.label :full_name, 'Name: ' %>
<%= f.text_field :full_name %>
<%= f.label 'Position: ' %>
<%= f.text_field :position %>
<%= f.label :email, "Email Address: " %>
<%= f.text_field :email %>
<%= f.submit "Create Contact" %>
<% end %>
<br>
<br>
<br>
<h1>Contacts for <%= @company.name %></h1>

  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Position</th>
        <th scope="col">Email</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <% @contacts.each do |contact| %>
    <tbody>
      <tr>
        <th><%= contact.full_name %></th>
        <td><%= contact.position %></td>
        <td><%= contact.email %></td>
        <td><%= link_to "Delete Contact", company_contact_path(contact.company, contact), method: 'delete' %></td>
      <% end %>
      </tr>
    </tbody>
  </table>
</section>
