<h1><strong><%= @category.title %></strong> Jobs</h1>

<%= link_to "Add New Job", new_job_path %></a></p>

<% @category.jobs.each do |job| %>
  Title: <ul><%= link_to job.title, job_path(job) %></ul>
  Company: <ul><%= link_to job.company.name, company_path(job.company) %></ul>
  City: <ul><%= link_to job.city, jobs_path(location: "#{job.city}") %></ul>
  Interest: <ul><%= job.level_of_interest %></ul>
  <%= link_to "Edit", edit_job_path(job) %>
  <%= link_to "Delete", job_path(job), method: "delete" %>
<% end %>
